<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488717032207-k8bl6hsj5qrbae9u099hv41addssivfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488717032207-k8bl6hsj5qrbae9u099hv41addssivfp</string>
	<key>API_KEY</key>
	<string>AIzaSyDTeeh7oGWulUQsXV-ZFYf576l0CvbrTHc</string>
	<key>GCM_SENDER_ID</key>
	<string>488717032207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iosNewsCard</string>
	<key>PROJECT_ID</key>
	<string>iosnewscard</string>
	<key>STORAGE_BUCKET</key>
	<string>iosnewscard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488717032207:ios:b5b3c0dbebd96f05eafc7a</string>
	<key>DATABASE_URL</key>
	<string>https://iosnewscard.firebaseio.com</string>
</dict>
</plist>